legacy-peer-deps=true
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
@smart-linkify:registry=https://npm.pkg.github.com/
