name: Publish npm packages (GitHub Packages)

on:
  push:
    tags:
      - "v*.*.*"   # e.g. v1.1.0

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
          scope: "@smart-linkify"

      - name: Install dependencies
        run: npm ci

      - name: Publish core package
        run: npm publish
        working-directory: packages/core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
